.menu {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 112.85px;
  background-color: rgba(255,255,255, .9);
  z-index: 9999;
  box-sizing: border-box;

  .menu-contents {
    width: 1080px;
    height: 112.85px;
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;

    .menu-contents-items {
      width: 100%;
      display: flex;
      align-items: center;
      height: 100%;
      margin: 0 auto ;
      text-align: center;
      // line-height: 112px;
      font-weight: bold;
      font-size: 16px;
      .wonderful-wife-logo {
        width: 216px;
        height: 100%;
        background-image: url(https://wonderful-wife.net/wp-content/uploads/tcd-w/logo.png?1677145027);
        background-repeat: no-repeat;
        background-position: center;
      }

      .home {
        margin: 0 15px;
      }

      .service-guides{
        margin: 0 15px;
      }

      .online-cource {
        margin: 0 15px;
      }

      .company-overview {
        margin: 0 18px;
      }

      .inquiry {
        margin: 0 15px;
      }

      .blog {
        margin: 0 15px;
      }

      .inquiry-bottom-box {
        height: 45px;
        width: 185px;
        margin: 0 20px;
        border: 1px solid orange;
        color: #fff;
        background: orange;
        line-height: 47px;
        transition: background-color 0.25s;
      }

      .inquiry-bottom-box:hover {
        background-color: gray;
      }

    }
  }
}

@media screen and (max-width: 959px) {
  .menu {
    .menu-contents {
      width: 720px;

      .menu-contents-items {

        .home {
          display: none;
        }

        .service-guides {
          display: none;
        }

        .online-cource {
          display: none;
        }

        .company-overview {
          display: none;
        }

        .inquiry {
          display: none;
        }

        .blog {
          display: none;
        }

        .inquiry-bottom-box {
          display: none;
        }

        .menu-bar-box {
          height: 100%;
          margin:0 0 0 auto;

          .menu-bar {
            position: relative;
            height: 20px;
            width: 28px;
            display: inline-block;
            box-sizing: border-box;
            margin-top: 45px;

          }
        }
      }
    }
  }

  .menu-bar div {
    position: absolute;
    right: 0;
    height: 2px;
    width: 28px;
    background-color: #444;
    border-radius: 2px;
    display: inline-block;
    box-sizing: border-box;
  }
  .menu-bar div:nth-of-type(1) {
    bottom: 20px;
  }
  .menu-bar div:nth-of-type(2) {
    bottom: 10px;
  }
  .menu-bar div:nth-of-type(3) {
    bottom: 0;
  }
}



.header {
  background-image: url(https://wonderful-wife.net/wp-content/themes/agent_tcd033/img/w_code/head_bg.jpg) ;
  background-size: cover;
  margin: -20px 0 0;
  padding-top: 160px
}

.header-unit-lpwrap {
  max-width: 1100px;
  width: 94%;
  margin: 0 auto;
}

.header-unit {
  border: 6px solid #000;
  border-radius: 20px;
  background: #fff;
  padding: 2em 1em;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

.header-title {
  font-size: 38px;
  font-weight: bold;
  margin: 0;
}
.header-title-reading {
  font-size: 13px;
  margin-bottom: 1em;
}

.header-contents {
  font-size: 22px;
}

.header-color-contents {
  margin: 5px 0;
  font-size: 24px;
}
mark {
  background: linear-gradient(transparent 50%, #FEFE98 50%);
  font-weight: bold;
}

.order-bottom {
  max-width: 560px;
  background-color: #009bcf;
  color: #fff;
  padding: 1em 1em ;
  width: 94%;
  margin: 1em auto;
  border-radius: 4px;
  transition: all 0.25s ease-in-out;
}

.order-bottom:hover {
  opacity: 0.5;
}

.attention {
  font-size: 0.8em;
}

.header-text {
  background: #000;
  color: #fff;
  padding: 10px 0 3em
}

.header-text-lpwrap {
  max-width: 800px;
  margin: 0 auto;
}

.header-text-title {
  text-align: center;
  font-size: 26px;
  font-weight: nomal;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 0.5em;
}
